---
import { twMerge } from 'tailwind-merge';

let {
  title = '',

  panelClass,
  titleClass,
  descriptionClass,
  containerClass,
  image = null,
  photoSize = 'w-48 h-48',
} = Astro.props;
---

<div class={twMerge('pt-4', containerClass)}>
  <div class={twMerge('flex flex-col', panelClass)}>
    <div class="flex justify-center">
      {image && <img src={image} class={twMerge('rounded-md mb-1 object-cover brightness-105 contrast-105', photoSize)} />}
    </div>
    <div class="m-0">
      {title && <h3 class={twMerge('text-xl font-bold mt-1 text-center', titleClass)}>{title}</h3>}
      <div class={twMerge('text-center mb-3', descriptionClass)}>
        <slot />
      </div>
    </div>
  </div>
</div>
